<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>tyhp.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>tyhp.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>tyhp.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>tyhp.controllers.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountController</servlet-name>
        <servlet-class>tyhp.controllers.UpdateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAccountInfoController</servlet-name>
        <servlet-class>tyhp.controllers.ViewAccountInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAccountController</servlet-name>
        <servlet-class>tyhp.controllers.ManageAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountController</servlet-name>
        <servlet-class>tyhp.controllers.DeleteAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>tyhp.controllers.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PetDetailController</servlet-name>
        <servlet-class>tyhp.controllers.PetDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePetController</servlet-name>
        <servlet-class>tyhp.controllers.UpdatePetController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPetController</servlet-name>
        <servlet-class>tyhp.controllers.AddPetController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckAccountController</servlet-name>
        <servlet-class>tyhp.controllers.CheckAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePetController</servlet-name>
        <servlet-class>tyhp.controllers.DeletePetController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingController</servlet-name>
        <servlet-class>tyhp.controllers.ShoppingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAccCartController</servlet-name>
        <servlet-class>tyhp.controllers.AddAccCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartDetailController</servlet-name>
        <servlet-class>tyhp.controllers.CartDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccCartController</servlet-name>
        <servlet-class>tyhp.controllers.UpdateAccCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccCartController</servlet-name>
        <servlet-class>tyhp.controllers.DeleteAccCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertInvoiceController</servlet-name>
        <servlet-class>tyhp.controllers.InsertInvoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAccessory</servlet-name>
        <servlet-class>tyhp.controllers.ManageAccessory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccessoryController</servlet-name>
        <servlet-class>tyhp.controllers.DeleteAccessoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertAccessoryController</servlet-name>
        <servlet-class>tyhp.controllers.InsertAccessoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAccessoryController</servlet-name>
        <servlet-class>tyhp.controllers.EditAccessoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccessoryController</servlet-name>
        <servlet-class>tyhp.controllers.UpdateAccessoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageServiceController</servlet-name>
        <servlet-class>tyhp.controllers.ManageServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServiceController</servlet-name>
        <servlet-class>tyhp.controllers.DeleteServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServiceController</servlet-name>
        <servlet-class>tyhp.controllers.EditServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServiceController</servlet-name>
        <servlet-class>tyhp.controllers.UpdateServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertServiceController</servlet-name>
        <servlet-class>tyhp.controllers.InsertServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServiceController</servlet-name>
        <servlet-class>tyhp.controllers.SearchServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSerCartController</servlet-name>
        <servlet-class>tyhp.controllers.AddSerCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSerCartController</servlet-name>
        <servlet-class>tyhp.controllers.UpdateSerCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSerCartController</servlet-name>
        <servlet-class>tyhp.controllers.DeleteSerCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchInvoice</servlet-name>
        <servlet-class>tyhp.controllers.SearchInvoice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchInvoiceController</servlet-name>
        <servlet-class>tyhp.controllers.SearchInvoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowInvoiceController</servlet-name>
        <servlet-class>tyhp.controllers.ShowInvoiceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountController</servlet-name>
        <url-pattern>/UpdateAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAccountInfoController</servlet-name>
        <url-pattern>/ViewAccountInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAccountController</servlet-name>
        <url-pattern>/ManageAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountController</servlet-name>
        <url-pattern>/DeleteAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/ChangePasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PetDetailController</servlet-name>
        <url-pattern>/PetDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePetController</servlet-name>
        <url-pattern>/UpdatePetController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPetController</servlet-name>
        <url-pattern>/AddPetController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckAccountController</servlet-name>
        <url-pattern>/CheckAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePetController</servlet-name>
        <url-pattern>/DeletePetController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingController</servlet-name>
        <url-pattern>/ShoppingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAccCartController</servlet-name>
        <url-pattern>/AddAccCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartDetailController</servlet-name>
        <url-pattern>/CartDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccCartController</servlet-name>
        <url-pattern>/UpdateAccCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccCartController</servlet-name>
        <url-pattern>/DeleteAccCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertInvoiceController</servlet-name>
        <url-pattern>/InsertInvoiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAccessory</servlet-name>
        <url-pattern>/ManageAccessory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccessoryController</servlet-name>
        <url-pattern>/DeleteAccessoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertAccessoryController</servlet-name>
        <url-pattern>/InsertAccessoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAccessoryController</servlet-name>
        <url-pattern>/EditAccessoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccessoryController</servlet-name>
        <url-pattern>/UpdateAccessoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageServiceController</servlet-name>
        <url-pattern>/ManageServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServiceController</servlet-name>
        <url-pattern>/DeleteServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServiceController</servlet-name>
        <url-pattern>/EditServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServiceController</servlet-name>
        <url-pattern>/UpdateServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertServiceController</servlet-name>
        <url-pattern>/InsertServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServiceController</servlet-name>
        <url-pattern>/SearchServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSerCartController</servlet-name>
        <url-pattern>/AddSerCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSerCartController</servlet-name>
        <url-pattern>/UpdateSerCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSerCartController</servlet-name>
        <url-pattern>/DeleteSerCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchInvoice</servlet-name>
        <url-pattern>/SearchInvoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchInvoiceController</servlet-name>
        <url-pattern>/SearchInvoiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowInvoiceController</servlet-name>
        <url-pattern>/ShowInvoiceController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
